@font-face {
    font-family: VarsityTeam;
    src: url(varsity-team.bold.otf);
}

@font-face {
    font-family: TitilliumWeb;
    src: url(TitilliumWeb-Regular.ttf);
}

@keyframes fadeIn {
    0% {color: #ffffff; font-size: 1rem; padding: 0;}
    100% {color: #b70010; font-size: 1.5rem; padding: 5px;}
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
}

.navbar {
    background-color: #b70010;
    padding: 20px;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;

    h1 {
        color: #ffffff;
        font-family: VarsityTeam;
        font-size: 3rem;
        text-align: center;
        margin-left: 100px;
    }
}

nav {
    background-color: #000000;
    padding: 5px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .navlink {
        color: #ffffff;
        text-decoration: none;
        font-family: VarsityTeam;
        font-weight: 100;
        padding: 0;
    }

    .navlink:hover {
        text-decoration: underline;
        animation: fadeIn 0.5s forwards;
    }

}

#banner {
    width: 100%;
}

#pathwaysHeader {
    font-family: VarsityTeam;
    text-align: center;
    color: #b70010;
    font-size: 3rem;
    font-weight: 200;
}

.pathways {
    display: flex;
    flex-direction: column;
    text-align: center;
    p {
        font-family: TitilliumWeb;
        margin: 20px;
    }
}

.bottomhalf, .tophalf {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    h1 {
        font-family: VarsityTeam;
        color: #000000;
        font-size: 2rem;
        font-weight: 200;
        margin: 10px;
    }
}

