@font-face {
    font-family: VarsityTeam;
    src: url(varsity-team.bold.otf);
}

@font-face {
    font-family: TitilliumWeb;
    src: url(TitilliumWeb-Regular.ttf);
}

@keyframes fadeIn {
    0% {
        color: #ffffff;
        font-size: 1rem;
        padding: 0;
    }

    100% {
        color: #b70010;
        font-size: 1.5rem;
        padding: 5px;
    }
}


html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
}

h1 {
    color: #b70010;
    font-family: VarsityTeam;
    font-size: 3rem;
    justify-self: center;
}

.navbar {
    background-color: #b70010;
    padding: 10px;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-evenly;

    h1 {
        color: #ffffff;
        font-family: VarsityTeam;
        font-size: 3rem;
        justify-self: center;
    }
}



nav {
    background-color: #000000;
    padding: 5px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .navlink {
        color: #ffffff;
        text-decoration: none;
        font-family: VarsityTeam;
        font-weight: 100;
        padding: 0;
    }

    .navlink:hover {
        text-decoration: underline;
        animation: fadeIn 0.5s forwards;
    }

}

#banner {width: 100%}

#pathwaysHeader {
    font-family: VarsityTeam;
    text-align: center;
    color: #b70010;
    font-size: 3rem;
    font-weight: 200;
}

.pathways {
    display: flex;
    flex-direction: column;
    text-align: center;
    p {
        font-family: TitilliumWeb;
        margin: 20px;
    }
}

.bottomhalf, .tophalf {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    h1 {
        font-family: VarsityTeam;
        color: #000000;
        font-size: 2rem;
        font-weight: 200;
        margin: 10px;
    }
}

@media screen and (max-width: 1000px) {
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            text-align: center;
            margin: 0;
        }
    }

    nav {
        display: flex;
        justify-content: space-evenly;
        overflow-x: scroll;
        padding: 5px 0 5px 0;
        font-size: 1rem;
        font-family: TitilliumWeb;
        font-weight: 100;

        .navlink:hover {
            text-decoration: underline;
            color: #b70010;
            animation: none !important;
        }
    }

    #banner {
        display: none;
    }

    .bottomhalf, .tophalf {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    iframe {
        height: 400px;
        width: 500px;
    }
}

.schedule {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    img {
        border: 4px solid #b70010;
        padding: 0;
    }
}

.athletics {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.staff {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    iframe {
        border: 3px solid #b70010;
        border-radius: 16px;
    }
}

footer {
    background-color: #b70010;
    font-family: TitilliumWeb;
    color: #ffffff;
    display: flex;
    flex-direction: column;

    .footerFlex {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    
    p, img {
        margin: 20px;
    }

    .copyright {
        display: flex;
        color: #808080;
        justify-content: center;
    }
}